/* ------ 21961070 이단비 ------- */

section#main {
  width: 1200px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  text-align: center;
  color: #888888;
}

table {
  margin-top: 20px;
}

th {
  padding: 0 10px 0 10px;
}

p {
  text-align: left;
  color: #888888;
}

/* -------- new --------- */

section#new {
  height: 650px;
  margin-top: 50px;
  border-top: solid 1px #0468BF;
}

section#new .item {
  float: left;
  text-align: center;
  margin: 50px 0 0 75px;
}

.img {
  margin-left: 300px;
}

.img1 {
  margin-top: 50px;
}
